html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 26px;
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 );
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  transition: justify-content 0.5s ease-in-out;
}

main.got-data {
  justify-content: flex-start;
}

@font-face {
  font-family: h1font;
  src: url(BespokeStencil-Extrabold.otf);
}
@font-face {
  font-family: ninomtavruli;
  src: url(bpg-nino-mtavruli-webfont.woff);
}
@font-face {
  font-family: regularfont;
  src: url(GA\ Cursor\ Regular.woff2);
}

h1 {
  font-family: h1font;
  display: block;
  text-align: center;
  font-size: 6.5vmin;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 15px;

}

.container {
  margin-top: 15vh;
  position: relative;
  /*margin: calc(75px + 10vh + 10vw) auto 0 auto; */
  padding: 10px;
  width: 80vmin;
  max-width: 840px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  transition: margin 0.5s ease-in-out;
}

.container.got-data {
  margin-top: 2vh;
}


.container2 {
  font-family: regularfont;
  background-color: white;
  display: none;
  align-items: stretch;
  width: 50rem; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  border-radius: 20px;
  opacity: 0;
  transform: translateY(-20px); /* Move the element up initially */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  border: 3px solid #000000;
}


.left-column {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.right-column {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.vertical-line {
  width: 10px;
  border-radius: 3px;
  background-color: #000; /* Change the color as needed */
  height: 90%; /* Adjust the height as desired */
  margin: auto 10px;
}

/* Optional: Add some styling to the rows for better visibility */
.container2 p {
  margin: 5px 0;
  padding: 5px;
}


.container2.active {
  opacity: 1;
  transform: translateY(0); /* Move the element to its normal position */
  display: flex;
}

p {
  color: rgb(0, 0, 0);
}

.container3 {
  overflow: hidden; /* Clear float */
  opacity: 0;
  transform: translateY(-20px); /* Move the element up initially */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container3.active {
  opacity: 1;
  transform: translateY(0); /* Move the element to its normal position */
}

.clear {
  clear: both;
}

.notebook-square {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of squares as needed */
  position: relative;
  width: 7rem; /* Ensure it takes up the full width of its container */
  height: 7rem; /* Ensure it takes up the full height of its container */
  padding: 10px; /* Add padding to separate the grid from content */
}



.gap {
  display: block;
  float: left;
  width: 10vh;
  background-color: #00000000;
}





.search-box {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
}


.search-icon, .go-icon {
  position: absolute;
  top: 0;
  height: 60px;
  width: 86px;
  line-height: 61px;
  text-align: center;
}

.iconss {
  width: 1.5rem;
}

.search-icon {
  left: 0;
  pointer-events: none;
  font-size: 3em;
  will-change: transform;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90eg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.go-icon {
  right: 0;
  font-size: 2.5em;
  pointer-events: none;
  font-size: 1.38em;
  will-change: opacity;
  cursor: default;
  opacity: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.go-in {
  opacity: 1;
  font-size: 2.5em;
  pointer-events: all;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}
.border {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.border.false {
  stroke: red;
}
.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}
.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}
#search {
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  border: none;
  background: rgba(255, 255, 255, 0);
  padding: 0 68px 0 68px;
  color: #ffffff;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
  outline: none;
}

#info.false {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}


#search::-webkit-input-placeholder {color: #ffffff;}
#search::-moz-placeholder {color: #ffffff;}
#search:-ms-input-placeholder {color: #ffffff;}
#search:-moz-placeholder {color: #ffffff;}
#search::-moz-selection {color: #ffffff; background: rgba(0, 0, 0, 0.25);}
#search::selection {color: #ffffff; background: rgba(0, 0, 0, 0.25);}



#row-1, #row-01 {
  height: 2rem;
}

#row-2 {
  padding-top: 2rem;
  height: 5rem;
}

#notebook-square {
  height: 5.1rem;
  width: 5.1rem;
}

#row-4, #row-04 {
  height: 2rem;
}
#row-5, #row-05 {
  height: 2rem;
}
#row-6, #row-06 {
  height: 2rem;
}
#row-7, #row-07 {
  height: 2rem;
}
#row-8, #row-08 {
  height: 2rem;
}
#row-9, #row-09 {
  height: 2rem;
}
#row-10, #row-010 {
  height: 2rem;
}
#row-11, #row-011 {
  height: 2rem;
}
#row-12, #row-012 {
  height: 2rem;
}
#row-13, #row-013 {
  height: 2rem;
}

.footer {
  position: absolute;
  margin-top: 50%;
}

@media screen {
  
}





.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.advert {
  margin-top: 16px; /* Adjust margin-top as needed */
}

.typewriter-text {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  margin-bottom: 2rem;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
     /* border-color: orange;  Change to desired blink color */
  }
}

#typingheading {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 35vh;
  font-size: 3vmin;
}

#advert {
  width: 90vmin;
}

video {
  width: 100%;
  height: auto;
}





/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

#btn-sakadastro, #btn-amonaweri {
  font-family: ninomtavruli;
  display: block;
  /* background-color: white; */
  width: 20rem;
  height: 5rem;
  border-radius: 30px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}


#btn-meria {
  font-family: ninomtavruli;
  margin-left: 5vh;
  /* background-color: black;
  color: white; */
  width: 40rem;
  height: 5rem;
  border-radius: 30px;
  font-size: 30px;
  float: left;
}

.topstrip {
  margin-top: 0;
  position: absolute;
  width: 100%;
  background-color: black;
  height: 2.5vh;
  margin-bottom: 97.5vh;
  z-index: 20;
  text-align: center;
  font-family: 'ninomtavruli';
  font-size: 1em;
  vertical-align: middle;
}

.topstrip p {
  z-index: 21;
  color: white;
  margin-top: 0.5vh;
}

.bottomstrip {
  margin-top: 97.5vh;
  position: absolute;
  width: 100%;
  background-color: black;
  height: 2.5vh;
  margin-bottom: 0;
  z-index: 20;
  text-align: center;
  font-family: 'ninomtavruli';
  font-size: 1em;
  vertical-align: middle;
}

.bottomstrip p {
  z-index: 21;
  color: white;
  margin-top: 0.5vh;
  font-size: 2vmin;
}




.swal2-icon.swal2-error {
  border-color: #f27474;  
}

.swal2-icon.swal2-error .swal2-x-mark {
  position: relative;
  display: block;   
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #f27474;
  display: block;
  top: 37px;
  border-radius: 2px
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
  transform: rotate(45deg);
  left: 17px
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
  transform: rotate(-45deg);
  right: 16px 
}

.swal2-validationerror {
  background-color: #f0f0f0;  
  color: gray;
  font-size: 16px;
  font-weight: 300;
  display: none
}

.swal2-validationerror::before {
  content: '!';  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: #fff;   
  margin-right: 10px
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.tanxmoba {
  position: absolute;
  bottom: 30px;
  right: 10px;
  background-color: #000000c4;
  color: white;
  padding: 10px;
  max-width: 400px;
  border-radius: 15px;
}

.close-button {
  cursor: pointer;
  color: black;
  border: none;
  background: none;
  font-size: 14px;
  background-color: white;
  padding: 5px;
  margin-left: 40%;
  border-radius: 8px;
}